PaillMoviles-war/src/conf/xml-resources/web-service-references/AppsMovilesWS/wsdl/localhost_8080/PaillMoviles-war/AppsMovilesWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.rudysorto.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.rudysorto.com/" name="AppsMovilesWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.rudysorto.com/" schemaLocation="http://localhost:8080/PaillMoviles-war/AppsMovilesWS?xsd=1"/>
</xsd:schema>
</types>
<message name="selectAll">
<part name="parameters" element="tns:selectAll"/>
</message>
<message name="selectAllResponse">
<part name="parameters" element="tns:selectAllResponse"/>
</message>
<message name="selectLike">
<part name="parameters" element="tns:selectLike"/>
</message>
<message name="selectLikeResponse">
<part name="parameters" element="tns:selectLikeResponse"/>
</message>
<message name="actualizar">
<part name="parameters" element="tns:actualizar"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="guardar">
<part name="parameters" element="tns:guardar"/>
</message>
<portType name="AppsMovilesWS">
<operation name="selectAll">
<input wsam:Action="http://ws.rudysorto.com/AppsMovilesWS/selectAllRequest" message="tns:selectAll"/>
<output wsam:Action="http://ws.rudysorto.com/AppsMovilesWS/selectAllResponse" message="tns:selectAllResponse"/>
</operation>
<operation name="selectLike">
<input wsam:Action="http://ws.rudysorto.com/AppsMovilesWS/selectLikeRequest" message="tns:selectLike"/>
<output wsam:Action="http://ws.rudysorto.com/AppsMovilesWS/selectLikeResponse" message="tns:selectLikeResponse"/>
</operation>
<operation name="actualizar">
<input wsam:Action="http://ws.rudysorto.com/AppsMovilesWS/actualizar" message="tns:actualizar"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://ws.rudysorto.com/AppsMovilesWS/eliminar" message="tns:eliminar"/>
</operation>
<operation name="guardar">
<input wsam:Action="http://ws.rudysorto.com/AppsMovilesWS/guardar" message="tns:guardar"/>
</operation>
</portType>
<binding name="AppsMovilesWSPortBinding" type="tns:AppsMovilesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="selectAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="guardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="AppsMovilesWS">
<port name="AppsMovilesWSPort" binding="tns:AppsMovilesWSPortBinding">
<soap:address location="http://localhost:8080/PaillMoviles-war/AppsMovilesWS"/>
</port>
</service>
</definitions>